<form class="" action="/" method="post">
  <h2>Player 1</h2>
  <div class="radio">
    <label>Rock
      <input type="radio" name="player-one" value="Rock">
    </label>
  </div>
  <div class="radio">
    <label>Paper
      <input type="radio" name="player-one" value="Paper">
    </label>
  </div>
  <div class="radio">
    <label>Scissors
      <input type="radio" name="player-one" value="Scissors">
    </label>
  </div>
  <h2>Player 2</h2>
  <div class="radio">
    <label>Rock
      <input type="radio" name="player-two" value="Rock">
    </label>
  </div>
  <div class="radio">
    <label>Paper
      <input type="radio" name="player-two" value="Paper">
    </label>
  </div>
  <div class="radio">
    <label>Scissors
      <input type="radio" name="player-two" value="Scissors">
    </label>
  </div>
  <button type="submit" name="button">PLAY THE FUCKIN GAME</button>
</form>

<h4>@Model</h4>
